<app-page-container title="Some Module">
  <div class="page-action-container">
    <!-- <mat-form-field>
      <mat-label>Search criteria</mat-label>
      <mat-select>
        <mat-option>ID No.</mat-option>
        <mat-option>First Name</mat-option>
        <mat-option>Middle Name</mat-option>
        <mat-option>Last Name</mat-option>
      </mat-select>
    </mat-form-field> -->
    <button mat-raised-button color="primary" (click)="openDetails(null, 'new')" class="addBtn">
      + &nbsp; Add New
    </button>
    <mat-form-field appearance="outline" class="search-bar">
      <mat-label>Search</mat-label>
      <mat-icon class="search-icon">search</mat-icon>
      <input matInput (keyup)="search($event.target.value)"/>
    </mat-form-field>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="fname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.fname }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="lname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lname }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="validUntil">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valid Until</th>
        <td mat-cell *matCellDef="let element">{{ element.validUntil }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="action-icon" (click)="openDetails(element, 'view')">remove_red_eye</mat-icon>
          <mat-icon class="action-icon" (click)="openDetails(element, 'edit')">edit</mat-icon>
          <mat-icon class="action-icon" (click)="delete()">delete_outline</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</app-page-container>
